  <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
              <span class="brand-title" style="color: white;">
     Yönetim Paneli
</span>
                </a>
            </div>
        </div>