@model List<HotelProject.EntityLayer.Concrete.AppRole>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Rol Listesi</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Rool Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Id</th>
            <th>@item.Name</th>
            <th><a href="/Role/DeleteRole/@item.Id" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></th>
            <th><a href="/Role/UpdateRole/@item.Id" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></th>
        </tr>
    }
</table>

<a href="/Role/AddRole/" class="btn mb-1 btn-rounded btn-outline-info">Yeni Role Girişi</a>



